Merging the house and flat data...

In [10]:
import pandas as pd
import numpy as np

In [16]:
house = pd.read_csv("house_cleaned.csv")
flats= pd.read_csv("flats_cleaned.csv")

In [17]:
house.shape

(964, 20)

In [18]:
flats.shape

(2996, 21)

In [19]:
flats.columns

Index(['property_name', 'property_type', 'property type', 'society', 'price',
       'price_per_sqft', 'area', 'areaWithType', 'bedRoom', 'bathroom',
       'balcony', 'additionalRoom', 'address', 'floorNum', 'facing',
       'agePossession', 'nearbyLocations', 'description', 'furnishDetails',
       'features', 'rating'],
      dtype='object')

In [20]:
# Drop the 3rd column by index
flats = flats.drop(flats.columns[2], axis=1)

In [21]:
house.columns

Index(['property_name', 'property_type', 'society', 'price', 'price_per_sqft',
       'area', 'areaWithType', 'bedRoom', 'bathroom', 'balcony',
       'additionalRoom', 'address', 'noOfFloor', 'facing', 'agePossession',
       'nearbyLocations', 'description', 'furnishDetails', 'features',
       'rating'],
      dtype='object')

In [22]:
print(flats.columns)

Index(['property_name', 'property_type', 'society', 'price', 'price_per_sqft',
       'area', 'areaWithType', 'bedRoom', 'bathroom', 'balcony',
       'additionalRoom', 'address', 'floorNum', 'facing', 'agePossession',
       'nearbyLocations', 'description', 'furnishDetails', 'features',
       'rating'],
      dtype='object')

In [23]:
flats.shape

(2996, 20)

In [24]:
df = pd.concat([flats,house],ignore_index=True)

In [25]:
df = df.sample(df.shape[0],ignore_index=True)

In [27]:
df.head()

,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,...,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating,noOfFloor
0,3 Bedroom House for sale in Sector 38 Gurgaon,house,independent,3.50,24306.0,1440.0,Carpet area: 160 (133.78 sq.m.),3,3,2,...,"Sector 38, Sector 38 Gurgaon, Gurgaon, Haryana",NaN,East,1 to 5 Year Old,NaN,Best in class property available at sector 38 ...,NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5...",1.0
1,3 BHK Flat in Sector 106 Gurgaon,flat,paras dews,1.40,6000.0,2333.0,Super Built up area 1760(163.51 sq.m.),3,4,3+,...,"Sector 106 Gurgaon, Gurgaon, Haryana",12.0,NaN,Under Construction,"['Chintapurni Mandir', 'State bank ATM', 'R K ...","Best location, almost ready to move",[],NaN,NaN,NaN
2,3 BHK Flat in Suncity,flat,new sathi apartments,1.59,7066.0,2250.0,Built Up area: 2250 (209.03 sq.m.),3,3,3+,...,"000, Suncity, Gurgaon, Haryana",3.0,North,5 to 10 Year Old,"['Sector metro station', 'Sector metro station...",Brokers please excuse\n3 bhk +study room resid...,"['3 Wardrobe', '1 Water Purifier', '4 Fan', '1...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Environment5 out of 5', 'Lifestyle4.5 out of...",NaN
3,2 BHK Flat in Sector 37D Gurgaon,flat,ramprastha the edge towers,0.75,5319.0,1410.0,Built Up area: 1410 (130.99 sq.m.),2,2,3,...,"Sector 37d, Delhi Gurgaon Expressway, Sector 3...",19.0,NaN,5 to 10 Year Old,"['MDS Public School', 'St Pauls School', 'Sunc...","2 bath, unfurnished, 19th floor (Of 19), rampr...",NaN,NaN,"['Green Area4 out of 5', 'Construction4 out of...",NaN
4,3 BHK Flat in Sector 89 Gurgaon,flat,m3m soulitude,1.32,16923.0,780.0,Carpet area: 780 (72.46 sq.m.),3,3,3,...,"S-70/1, Sector 89 Gurgaon, Gurgaon, Haryana",1.0,NaN,Dec 2023,"['Vatika Town Square-INXT', 'Sector 86 Road', ...","Near club, in front of club view",NaN,"['Power Back-up', 'Intercom Facility', 'Lift(s...","['Environment4 out of 5', 'Safety4 out of 5', ...",NaN

In [28]:
df.shape

(3960, 21)

In [29]:
df.columns

Index(['property_name', 'property_type', 'society', 'price', 'price_per_sqft',
       'area', 'areaWithType', 'bedRoom', 'bathroom', 'balcony',
       'additionalRoom', 'address', 'floorNum', 'facing', 'agePossession',
       'nearbyLocations', 'description', 'furnishDetails', 'features',
       'rating', 'noOfFloor'],
      dtype='object')

In [30]:
df.to_csv('gurgaon_properties.csv',index=False)